<div class="exercise-container">
  {{!-- <div class="row"> --}}
<div class="col-md-3 col-lg-3 exercise-holder item">
      <h2 class='exercise-name'>Name:{{exercise.name}}</h2>
      <p>Description:{{exercise.description}}</p>
      <p>Duration:{{exercise.duration}}</p>
      <p>Category:{{exercise.category}}</p>
      <p>Done:{{exercise.done}}</p>
      <p>Added By:{{exercise.user.email}}</p>
 {{#if exercise.editable}}
 <button type="button" class="btn custom-btn"{{action 'delete'}}>
   delete
 </button>
 <br><span></span>
   <button type="button" class="btn custom-btn"{{action 'done'}}>
     Exercise Complete
   </button>
{{/if}}
{{!-- </div> --}}
</div>
</div>
